* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

section {
    width: 100%;
    height: 100vh;
    color: white;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    header {
        width: 100%;
        height: 70px;
        position: absolute;
        display: flex;
        justify-content: space-between;
        padding: 20px 40px 10px 60px;
        top: 0;
        z-index: 1;

        h1 {
            font-size: 35px;
            font-family: dancing script;
        }

        nav {
            margin-top: 20px;
            margin-left: 200px;

            a {
                font-family: poppins;
                margin: 15px;
                text-decoration: none;
                color: white;
            }
        }

        .div {
            margin-top: 10px;

            i {
                margin: 10px;
            }

            button {
                font-family: poppins;
                width: 180px;
                height: 40px;
                border-radius: 25px;
                border: none;
                color: white;
                background-color: orange;
                font-size: 19px;
            }
        }

        span {
            display: none;
        }

        #nav {
            display: none;
        }
    }

    .hero {
        width: 100%;
        height: auto;
        position: absolute;
        top: 200px;
        left: 0;

        .container {
            width: 90%;
            height: auto;
            margin-left: 5%;

            .top {
                width: 45%;
                height: auto;
                color: white;

                h1 {
                    font-family: caveat;
                    font-size: 70px;
                    color: white;
                }

                p {
                    margin-top: 15px;
                    font-family: poppins;
                }

                button {
                    font-family: poppins;
                    width: 180px;
                    height: 40px;
                    border-radius: 25px;
                    border: none;
                    margin-top: 20px;
                    color: white;
                    background-color: orange;
                    font-size: 19px;
                }
            }
        }
    }

    @media (width<500px) {
        width: 100%;

        header {
            width: 100%;

            h1 {
                font-size: 45px;
                margin-left: -20px;
            }

            nav {
                display: none;
            }

            .div {
                display: none;
            }

            span {
                display: block;
                font-size: 40px;
                position: absolute;
                top: 20px;
                right: 30px;
            }

            #nav {
                width: 100%;
                height: 400px;
                background-color: black;
                padding-top: 20px;
                padding-left: 30px;
                transform: translateX(-360px);
                position: absolute;
                top: 0;
                right: 0;
                display: block;

                i {
                    font-size: 45px;
                }

                a {
                    display: block;
                    color: white;
                    text-decoration: none;
                    margin: 15px;
                    font-size: 20px;
                    font-family: poppins;
                }

                .icon {
                    width: 100%;
                    height: auto;
                    padding-left: 20px;

                    i {
                        font-size: 25px;
                        margin: 5px;
                    }

                    button {
                        font-family: poppins;
                        width: 120px;
                        height: 40px;
                        border-radius: 25px;
                        border: none;
                        color: white;
                        background-color: orange;
                        font-size: 15px;
                        margin-top: 30px;
                    }
                }
            }
        }

        .hero {
            width: 100%;

            .container {
                width: 100%;

                .top {
                    width: 100%;
                    position: absolute;
                    left: 0px;
                    top: -80px;
                    padding-left: 20px;

                    h1 {
                        font-size: 40px;
                    }

                    p {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

.main {
    width: 100%;
    height: auto;
    padding-bottom: 50px;

    .container {
        width: 90%;
        height: auto;
        margin-left: 5%;
        display: flex;
        justify-content: space-evenly;
        margin-top: 50px;

        .card {
            width: 45%;
            height: auto;
            background-color: rgb(34, 40, 49);
            display: flex;
            padding: 20px 20px 20px 30px;
            border-radius: 10px;

            .box {
                width: 40%;
                height: auto;

                img {
                    width: 90%;
                    border-radius: 50%;
                    border: 5px solid white;
                }
            }

            .box2 {
                width: 50%;
                height: auto;
                margin-top: 10px;
                margin-left: 5%;
                color: white;

                h1 {
                    font-family: dancing script;
                    font-size: 40px;
                }

                p {
                    font-size: 20px;
                    margin-top: 10px;
                    font-family: dancing script;

                    span {
                        font-size: 40px;
                        margin-right: 10px;
                    }
                }

                button {
                    font-family: poppins;
                    width: 180px;
                    height: 40px;
                    border-radius: 25px;
                    border: none;
                    margin-top: 20px;
                    color: white;
                    background-color: orange;
                    font-size: 19px;

                    i {
                        margin-left: 15px;
                    }
                }
            }
        }
    }

    @media (width<500px) {
        width: 100%;

        .container {
            width: 100%;
            display: block;

            .card {
                width: 90%;
                margin-top: 30px;

                .box {
                    width: 50%;

                    img {
                        width: 100%;
                    }
                }

                .box2 {
                    width: 50%;

                    h1 {
                        font-size: 23px;
                    }

                    p {
                        font-size: 15px;

                        span {
                            font-size: 18px;
                        }
                    }

                    button {
                        width: 120px;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

.menu {
    width: 100%;
    height: auto;
    text-align: center;
    padding-bottom: 50px;

    h1 {
        font-family: dancing script;
        font-size: 40px;
    }

    nav {
        margin-top: 30px;

        a {
            text-decoration: none;
            font-size: 20px;
            margin: 10px;
            font-family: poppins;
        }
    }

    .container {
        width: 90%;
        height: auto;
        display: grid;
        grid-template-columns: auto auto auto;
        margin-top: 50px;
        margin-left: 5%;
        justify-content: space-evenly;

        .card {
            width: 350px;
            height: auto;
            background-color: rgb(34, 40, 49);
            padding-bottom: 30px;
            border-radius: 25px;
            margin-top: 50px;

            .box {
                width: 100%;
                height: 250px;
                background-color: rgb(241, 242, 243);
                border-radius: 0px 0px 0px 50px;

                img {
                    width: 80%;
                    margin-top: 30px;
                }
            }

            .box2 {
                width: 100%;
                height: auto;
                text-align: left;
                padding-left: 30px;
                position: relative;
                color: white;
                margin-top: 20px;

                h2 {
                    font-family: poppins;
                }

                p {
                    font-family: poppins;
                }

                span {
                    width: 40px;
                    height: 40px;
                    background-color: orange;
                    color: white;
                    position: absolute;
                    right: 10px;
                    bottom: 0px;
                    border-radius: 50%;
                    padding: 10px;
                    font-size: 18px;
                }
            }
        }

    }

    button {
        font-family: poppins;
        width: 180px;
        height: 40px;
        border-radius: 25px;
        border: none;
        color: white;
        background-color: orange;
        font-size: 19px;
        margin-top: 50px;
    }

    @media (width<500px) {
        width: 100%;

        nav {
            a {
                font-size: 18px;
                margin: 0;
                margin: 3px;
            }
        }

        .container {
            width: 100%;
            display: block;

            .card {
                width: 90%;
            }
        }
    }
}

.main2 {
    width: 100%;
    height: auto;
    padding: 50px 0px 50px 0px;
    background-color: rgb(34, 40, 49);

    .container {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-evenly;

        .card {
            width: 45%;
            height: 700px;

            img {
                height: 95%;
            }
        }

        .card2 {
            width: 45%;
            height: auto;
            color: white;
            padding-top: 200px;

            h1 {
                font-size: 45px;
                font-family: dancing script;
            }

            p {
                margin-top: 25px;
                font-size: 17px;
                font-family: merienda;
            }

            button {
                font-family: poppins;
                width: 180px;
                height: 40px;
                border-radius: 25px;
                border: none;
                color: white;
                background-color: orange;
                font-size: 19px;
                margin-top: 50px;
            }
        }
    }

    @media (width<500px) {
        width: 100%;

        .container {
            width: 100%;
            display: block;
            position: relative;

            .card {
                width: 90%;
                margin-left: 5%;

                img {
                    width: 95%;
                }
            }

            .card2 {
                width: 90%;
                padding: 0;
                padding-left: 30px;
                margin-top: 30px;

                button {
                    margin-left: 60px;
                }
            }
        }
    }
}

.book {
    width: 100%;
    height: auto;
    padding: 40px;

    h1 {
        font-size: 50px;
        font-family: dancing script;
    }

    .container {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;

        .card {
            width: 48%;
            height: auto;

            input {
                width: 100%;
                height: 65px;
                margin-top: 30px;
                border-radius: 10px;
                border: 0.5px solid;
                padding: 0px 15px 0px 30px;
                font-size: 20px;
            }

            input::placeholder {
                color: black !important;
            }

            button {
                font-family: poppins;
                width: 180px;
                height: 50px;
                border-radius: 25px;
                border: none;
                color: white;
                background-color: orange;
                font-size: 19px;
                margin-top: 30px;
            }

            iframe {
                border-radius: 25px;
                margin-top: 30px;
            }
        }
    }

    @media (width<500px) {
        width: 100%;

        h1 {
            font-size: 45px;
            text-align: center;
        }

        .container {
            width: 100%;
            display: block;

            .card {
                width: 100%;
                margin: 0;
                padding: 0;

                input {
                    width: 100%;
                }

                iframe {
                    width: 330px;
                    height: 350px;
                    margin-left: -20px;
                }
            }
        }
    }
}

.says {
    width: 100%;
    height: auto;
    padding-bottom: 50px;

    h1 {
        font-size: 55px;
        font-family: dancing script;
        text-align: center;
    }

    .container {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-around;
        margin-top: 50px;

        .card {
            width: 45%;
            height: auto;

            .box {
                width: 100%;
                height: auto;
                color: white;
                font-family: poppins;
                background-color: rgb(34, 40, 49);
                padding: 25px;
                border-radius: 10px;

                h2 {
                    margin-top: 15px;
                }
            }

            .box2 {
                width: 25%;
                height: auto;
                margin: 20px;

                img {
                    width: 100%;
                    border: 5px solid orange;
                    border-radius: 50%;
                }
            }
        }
    }

    @media (width<500px) {
        width: 100%;

        h1 {
            font-size: 45px;
        }

        .container {
            width: 100%;
            display: block;

            .card {
                width: 90%;
                margin-left: 5%;

                .box2 {
                    width: 60%;
                }
            }
        }
    }
}

footer {
    width: 100%;
    height: auto;
    background-color: rgb(34, 40, 49);
    padding: 50px 0px 50px 0px;

    .container {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 20px;

        .card {
            width: 300px;
            height: auto;
            text-align: center;
            color: white;

            h1 {
                font-family: dancing script;
                margin-bottom: 20px;
            }

            p {
                font-family: poppins;
                margin-top: 15px;

                i {
                    font-size: 15px;
                    margin-right: 10px;
                }
            }

            .icon {
                width: 100%;
                height: auto;
                margin-top: 20px;

                i {
                    width: 40px;
                    height: 40px;
                    background-color: orange;
                    border-radius: 50%;
                    padding-top: 10px;
                    font-size: 20px;
                }
            }
        }
    }

    h3 {
        font-family: poppins;
        text-align: center;
        margin-top: 30px;
        color: white;
    }

    p {
        font-family: poppins;
        text-align: center;
        color: white;

        a {
            text-decoration: none;
            color: orange;
        }
    }

    @media (width<500px) {
        width: 100%;

        .container {
            width: 100%;
            display: block;

            .card {
                width: 100%;
                padding: 25px;

                h1 {
                    text-align: left;
                }

                p {
                    text-align: left;
                    font-size: 15px;
                }

                .icon {
                    margin-left: -20px;
                }
            }

        }

        h3 {
            font-size: 14px;
        }
    }
}